<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Loginhistory"></activity>
        <activity android:name=".search.searchActivity" />
        <activity android:name=".order.OrderHistory" />
        <activity android:name=".order.CheckOut" />
        <activity android:name=".order.OrderDetail" />
        <activity android:name=".ui.account.AddressUpdate" />
        <activity android:name=".products.ProductDetail" />
        <activity android:name=".login.RegistrationActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".cart.cart" />
        <activity
            android:name=".NavigationHome"
            android:label="Team8"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- </activity> -->
            <!-- <activity android:name=".MainActivity"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>